Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

.pre-commit-config.yaml:

---
fail_fast: true

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c # 4.6.0
    hooks:
      - id: trailing-whitespace
        # Generated file
        exclude: ^web/src/api/schema\.d\.ts|extra/.*$
      - id: end-of-file-fixer
        exclude: Cargo.nix
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/doublify/pre-commit-rust
    rev: eeee35a89e69d5772bdee97db1a6a898467b686e # 1.0
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # 1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: f295829140d25717bc79368d3f966fc1f67a824f # 0.41.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]
        exclude: '^extra/completions/'

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: gen-man
        name: gen-man
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-man
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-comp
        name: gen-comp
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-comp
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-openapi
        name: gen-openapi
        files: ^web/
        language: system
        entry: cargo xtask gen-openapi
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-ctl-readme
        name: gen-ctl-readme
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-ctl-readme
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-docs
        name: gen-docs
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-docs
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-cargo-nix
        name: gen-cargo-nix
        files: ^Cargo\.lock|go\.mod$
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        # Pinning to a specific rustc version, so that we get consistent formatting
        entry: cargo +nightly-2025-01-15 fmt --all -- --check
        stages: [pre-commit]
        pass_filenames: false

feat: Include Spark connect in stacklet list (#380)
  rust/stackable-cockpit/src/constants.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

add gvk info to KubeClientReplace Error
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

return error on no release found, exit main with error if error from run
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: use indicatif_(e)println
  rust/stackablectl/src/main.rs
  rust/stackablectl/src/output/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Reuse existing error variant, and reformat it
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

use Debug impl for String in Errors
  rust/stackable-cockpit/src/engine/minikube/mod.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/service.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/params.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

refactor unnamed interpolations
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/cluster/resource_request.rs
  rust/stackable-cockpit/src/platform/credentials.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/utils/k8s/conditions.rs
  rust/stackable-cockpit/src/utils/k8s/labels.rs
  rust/stackable-cockpit/src/utils/mod.rs
  rust/stackable-cockpit/src/utils/params.rs
  rust/stackablectl/src/cmds/debug.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/output/mod.rs
  rust/stackablectl/src/output/result.rs
  rust/xtask/src/docs.rs
  web/build.rs
Due: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs

feat: release upgrading support (#379)
  docs/modules/stackablectl/pages/commands/release.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  rust/stackable-cockpit/src/engine/minikube/mod.rs
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/cluster/resource_request.rs
  rust/stackable-cockpit/src/platform/credentials.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/service.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/k8s/conditions.rs
  rust/stackable-cockpit/src/utils/k8s/labels.rs
  rust/stackable-cockpit/src/utils/mod.rs
  rust/stackable-cockpit/src/utils/params.rs
  rust/stackable-cockpit/src/xfer/mod.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/cmds/debug.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
  rust/stackablectl/src/output/mod.rs
  rust/stackablectl/src/output/result.rs
  rust/xtask/src/docs.rs
  web/build.rs
Due: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs

chore: Release stackablectl 1.0.0
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Update changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Move link definition in changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Release stackablectl 1.0.0 (#382)
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

ci: Bump Ubuntu runners
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

ci: Bump Ubuntu runners (#383)
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

fix(nix): Update nixpkgs and bump nodejs from 18 to 20
  default.nix
  nix/sources.json
Due: none

helm idempotent installs
  rust/helm-sys/go-helm-wrapper/main.go
  rust/helm-sys/src/lib.rs
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

ignore jobs on reapply, merge instead of apply for existing objects
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

fix(nix): Update nixpkgs and bump nodejs from 18 to 20 (#384)
  default.nix
  nix/sources.json
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

helm installs: uninstall and install chart instead of upgrade due to helmv3 force changes
  rust/helm-sys/go-helm-wrapper/main.go
  rust/helm-sys/src/lib.rs
  rust/stackable-cockpit/src/helm.rs
Due: none

jobs: change failed job apply output
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

remove playaround printing
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

jobs: restructure code
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

helm installs: add comment about procedure, cleanup
  rust/stackable-cockpit/src/helm.rs
Due: none

jobs: add comment for immutability error handling
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

add changelog entry
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

fix: idempotent helm installations for demos/stacks and ignoring of existing jobs (#386)
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat(nix): Default to release build
  default.nix
Due: none

feat(nix): Default to release build (#388)
  default.nix
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

docs: Clarify docs for operator install command
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

docs: Clarify docs for operator install command (#389)
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

fix(deps): update dependency solid-js to v1.9.4 [security]
  yarn.lock
Due: none

fix(deps): update all dependencies (patch only)
  Cargo.lock
  go.mod
  go.sum
  package.json
  web/package.json
  yarn.lock
Due: gen-openapi, gen-cargo-nix

fix(deps): update module k8s.io/client-go to v0.33.2
  go.mod
  go.sum
Due: gen-cargo-nix

chore(deps): update actions/checkout action to v4.2.2
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_cockpit-web.yml
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_pre-commit.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

chore(deps): update actions/setup-go action to v5.5.0
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

chore(deps): update actions/setup-node action to v3.9.1
  .github/workflows/pr_cockpit-web.yml
Due: none

chore(deps): update anchore/sbom-action action to v0.20.1
  .github/workflows/pr_cockpit.yml
Due: none
