Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

.pre-commit-config.yaml:

---
fail_fast: true

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c # 4.6.0
    hooks:
      - id: trailing-whitespace
        # Generated file
        exclude: ^web/src/api/schema\.d\.ts|extra/.*$
      - id: end-of-file-fixer
        exclude: Cargo.nix
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/doublify/pre-commit-rust
    rev: eeee35a89e69d5772bdee97db1a6a898467b686e # 1.0
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # 1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: f295829140d25717bc79368d3f966fc1f67a824f # 0.41.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]
        exclude: '^extra/completions/'

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: gen-man
        name: gen-man
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-man
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-comp
        name: gen-comp
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-comp
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-openapi
        name: gen-openapi
        files: ^web/
        language: system
        entry: cargo xtask gen-openapi
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-ctl-readme
        name: gen-ctl-readme
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-ctl-readme
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-docs
        name: gen-docs
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-docs
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-cargo-nix
        name: gen-cargo-nix
        files: ^Cargo\.lock|go\.mod$
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        # Pinning to a specific rustc version, so that we get consistent formatting
        entry: cargo +nightly-2025-01-15 fmt --all -- --check
        stages: [pre-commit]
        pass_filenames: false

docs: update the stackablectl installation command to use the latest release
  docs/modules/stackablectl/pages/installation.adoc
Due: none

chore: update PR template to not use tasklist
  .github/pull_request_template.md
Due: none

chore: update PR template to not use tasklist (#404)
  .github/pull_request_template.md
Due: none

docs: update the stackablectl installation command to use the latest release (#403)
  docs/modules/stackablectl/pages/installation.adoc
Due: none

fix(deps): update dependency solid-js to v1.9.4 [security]
  yarn.lock
Due: none

fix(deps): update module helm.sh/helm/v3 to v3.17.4 [security]
  go.mod
  go.sum
Due: gen-cargo-nix

fix(deps): update all dependencies (patch only)
  .github/workflows/pr_cockpit.yml
  Cargo.lock
  go.mod
  go.sum
  package.json
  web/package.json
  yarn.lock
Due: gen-openapi, gen-cargo-nix

chore(deps): update stackabletech/actions action to v0.8.4
  .github/workflows/pr_pre-commit.yml
Due: none

fix(deps): update module k8s.io/client-go to v0.33.3
  go.mod
  go.sum
Due: gen-cargo-nix

chore: update docs to use bitnamilegacy
  docs/modules/stackablectl/pages/customization/add-stack.adoc
Due: none

fix stack example
  docs/modules/stackablectl/pages/customization/add-stack.adoc
Due: none

chore: update docs to use bitnamilegacy (#405)
  docs/modules/stackablectl/pages/customization/add-stack.adoc
Due: none

fix(stackablectl): Make binary more portable by downgrading glibc version
  .github/workflows/pr_stackablectl.yml
Due: none

Update slab to fix RUSTSEC-2025-0047
  Cargo.lock
Due: gen-cargo-nix

Regenerate nix
  Cargo.nix
Due: none

build(stackablectl): Make binary more portable by downgrading glibc version (#407)
  .github/workflows/pr_stackablectl.yml
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

feat: Support configuring listner-operator preset (with sensible defaults)
  Cargo.lock
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/args/mod.rs
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

Update rustdoc
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
Due: none

changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

--listener-operator-preset -> --listener-class-presets
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
Due: none

Apply suggestions from code review
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
Due: none

Fix compilation
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Make CLI flag --listener-class-preset singular
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update CLI docs
  rust/stackablectl/src/args/operator_configs.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

change link title in changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/args/operator_configs.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Remove docs on temporary
  rust/stackablectl/src/args/operator_configs.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
Due: none

Update rust/stackablectl/CHANGELOG.md
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Support configuring ListenerClass preset (with sensible defaults) (#414)
  Cargo.lock
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/args/mod.rs
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Release stackablectl 1.2.0
  Cargo.lock
  docs/modules/stackablectl/partials/commands/cache.adoc
  docs/modules/stackablectl/partials/commands/completions.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/experimental-debug.adoc
  docs/modules/stackablectl/partials/commands/index.adoc
  docs/modules/stackablectl/partials/commands/operator.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/stacklet.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/README.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

make regenerate-nix
  Cargo.nix
Due: none

ci: use --locked for cargo install
  .github/workflows/pr_cockpit.yml
  docker/Dockerfile
Due: none

cargo fmt
  rust/stackable-cockpit/src/platform/operator/mod.rs
Due: none

Update installation guide
  docs/modules/stackablectl/pages/installation.adoc
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.2.0.adoc
Due: none

Update docs/modules/stackablectl/partials/release-notes/release-1.2.0.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.2.0.adoc
Due: none

chore: Release stackablectl 1.2.0 (#415)
  .github/workflows/pr_cockpit.yml
  Cargo.lock
  Cargo.nix
  docker/Dockerfile
  docs/modules/stackablectl/pages/installation.adoc
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/commands/cache.adoc
  docs/modules/stackablectl/partials/commands/completions.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/experimental-debug.adoc
  docs/modules/stackablectl/partials/commands/index.adoc
  docs/modules/stackablectl/partials/commands/operator.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/stacklet.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.2.0.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/README.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

ci: Run pre-commit on merge-queue
  .github/workflows/pr_pre-commit.yml
Due: none

ci: Run pre-commit on merge-queue (#416)
  .github/workflows/pr_pre-commit.yml
Due: none
