Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

gen-man:
  name: gen-man
  language: system
  entry: cargo xtask gen-man
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-comp:
  name: gen-comp
  language: system
  entry: cargo xtask gen-comp
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-openapi:
  name: gen-openapi
  language: system
  entry: cargo xtask gen-openapi
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-ctl-readme:
  name: gen-ctl-readme
  language: system
  entry: cargo xtask gen-ctl-readme
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-docs:
  name: gen-docs
  language: system
  entry: cargo xtask gen-docs
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-cargo-nix:
  name: gen-cargo-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

docs: Add missing release notes for stackablectl (#435)
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.3.0.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.4.0.adoc
  rust/stackablectl/RELEASE.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Add script to verify release notes
  .pre-commit-config.yaml
  scripts/verify_release_notes.sh
Due: none

chore: Add script to verify release notes (#437)
  .pre-commit-config.yaml
  scripts/verify_release_notes.sh
Due: none

refactor namespace assignment
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

refactor namespace deletion function
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

bump operator-rs and use deref on label key
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: gen-cargo-nix

add assume-yes argument and some small fixes
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/args/mod.rs
  rust/stackablectl/src/args/prompt.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: add listener presets for minikube
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: add listener presets for minikube (#438)
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

fix: Bump aws-lc-{rs,sys} to negate RUSTSEC-2026-0048+0044
  Cargo.lock
Due: gen-cargo-nix

fix: Bump rustls-webpki to negate RUSTSEC-2026-0049
  Cargo.lock
Due: gen-cargo-nix

fix: Remove duplicate version key in Cargo.lock
  Cargo.lock
Due: gen-cargo-nix

fix: Remove more stuff from merge conflict
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

adjust changelog entry
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

fix: set current stackablectl release to 1.4.0 (#434)
  Cargo.lock
  Cargo.nix
  docs/modules/stackablectl/pages/installation.adoc
Due: gen-cargo-nix

fix changelog order
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add uninstall demo/stack feature (#429)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  docs/modules/stackablectl/pages/commands/demo.adoc
  docs/modules/stackablectl/pages/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/args/mod.rs
  rust/stackablectl/src/args/prompt.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

fix CI checks
  Cargo.lock
  Cargo.nix
  rust/xtask/Cargo.toml
Due: gen-cargo-nix

chore: Add ChartSourceKind for oci/repo/local
  rust/stackable-cockpit/src/helm.rs
Due: none

feat: Add support for OCI repositories
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

test: Ensure ChartRepo::source_kind gives expected variants
  rust/stackable-cockpit/src/helm.rs
Due: none

chore: Update changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: cargo update -p rustls-webpki
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

chore: Rename path to chart_source, and use the Debug impl
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

test: Use rstest
  rust/stackable-cockpit/src/helm.rs
Due: none

feat: stacks and demo supports OCI helmCharts (#440)
  Cargo.lock
  Cargo.nix
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

docs: Add missing 1.5.0 header to release notes
  docs/modules/stackablectl/partials/release-notes/release-1.5.0.adoc
Due: none

docs: Add missing 1.5.0 header to release notes (#449)
  docs/modules/stackablectl/partials/release-notes/release-1.5.0.adoc
Due: none

CI: Hardening
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_docs.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_pre-commit.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

Bump h2 to fix rustsec advisory
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

CI: Remove cosign v2 pin
  .github/workflows/pr_cockpit.yml
Due: none

CI: Add fork guard for manifest list
  .github/workflows/pr_cockpit.yml
Due: none

CI: Migrate to Prek and move jobs to precommit
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_docs.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_prek.yaml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  .pre-commit-config.yaml
Due: none

ci: Harden workflows (#450)
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_docs.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_prek.yaml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

chore: bump the Rust toolchain to 1.97.1
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  rust-toolchain.toml
Due: none

chore: bump the rustfmt nightly to nightly-2026-08-23
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
Due: none

chore: bump the Rust toolchain to 1.97.1 (#451)
  .github/workflows/pr_prek.yaml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  .pre-commit-config.yaml
  rust-toolchain.toml
Due: none

chore: Re-enable kube's proxy support
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/stackablectl/src/cmds/debug.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

Path conditions:
  gen-man: any of: ^rust/stackablectl/
  gen-comp: any of: ^rust/stackablectl/
  gen-openapi: any of: ^web/
  gen-ctl-readme: any of: ^rust/stackablectl/
  gen-docs: any of: ^rust/stackablectl/
  gen-cargo-nix: any of: ^Cargo\.lock|go\.mod$
