Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

gen-man:
  name: gen-man
  language: system
  entry: cargo xtask gen-man
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-comp:
  name: gen-comp
  language: system
  entry: cargo xtask gen-comp
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-openapi:
  name: gen-openapi
  language: system
  entry: cargo xtask gen-openapi
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-ctl-readme:
  name: gen-ctl-readme
  language: system
  entry: cargo xtask gen-ctl-readme
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-docs:
  name: gen-docs
  language: system
  entry: cargo xtask gen-docs
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-cargo-nix:
  name: gen-cargo-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

fix: Don't crash during `release upgrade` for SDP 25.11
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

Improve docs
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

Fix typo
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

fix: Don't crash during `release upgrade` for SDP 25.11 (#418)
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore(deps): update dependency solid-js to v1.9.4 [security]
  yarn.lock
Due: none

fix(deps): update module helm.sh/helm/v3 to v3.18.5 [security]
  go.mod
  go.sum
Due: gen-cargo-nix

chore(deps): update dependency vite to v5 [security]
  web/package.json
  yarn.lock
Due: gen-openapi

chore(deps): update actions/checkout action to v4.3.0
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_cockpit-web.yml
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_pre-commit.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
Due: none

chore(deps): update stackabletech/actions action to v0.10.4
  .github/workflows/pr_pre-commit.yml
Due: none

fix(deps): update dependency openapi-fetch to ^0.15.0
  web/package.json
  yarn.lock
Due: gen-openapi

fix(deps): update module k8s.io/client-go to v0.34.2
  go.mod
  go.sum
Due: gen-cargo-nix

chore(deps): update vitest monorepo to v4
  web/package.json
  yarn.lock
Due: gen-openapi

fix(deps): update all dependencies (patch only)
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  Cargo.lock
  go.mod
  go.sum
  package.json
  web/package.json
  yarn.lock
Due: gen-openapi, gen-cargo-nix

chore: Release stackablectl 1.2.1
  Cargo.lock
  Cargo.nix
  docs/modules/stackablectl/pages/installation.adoc
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.2.1.adoc
  extra/man/stackablectl.1
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Release stackablectl 1.2.1 (#420)
  Cargo.lock
  Cargo.nix
  docs/modules/stackablectl/pages/installation.adoc
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.2.1.adoc
  extra/man/stackablectl.1
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Adjust Rust toolchain in rustfmt override
  .vscode/settings.json
Due: none

chore: Add built
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackablectl/Cargo.toml
  rust/stackablectl/build.rs
  rust/stackablectl/src/lib.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

feat: Add release check (command)
  docs/modules/stackablectl/partials/commands/help.adoc
  docs/modules/stackablectl/partials/commands/version.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/utils/path.rs
  rust/stackable-cockpit/src/xfer/mod.rs
  rust/stackable-cockpit/src/xfer/processor.rs
  rust/stackablectl/README.md
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/version.rs
  rust/stackablectl/src/lib.rs
  rust/stackablectl/src/main.rs
  rust/stackablectl/src/output/templates/result.tpl
  rust/stackablectl/src/release_check.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

refactor: Update transfer client and cache related code
  rust/stackable-cockpit/src/common/list.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/xfer/processor.rs
  rust/stackablectl/src/cmds/cache.rs
  rust/stackablectl/src/cmds/debug.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/mod.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/release_check.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add basic user config reading mechanism
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/config.rs
  rust/stackablectl/src/lib.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

refactor: Simplify config reading
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/config.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Apply suggestions
  rust/stackable-cockpit/src/xfer/mod.rs
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Revert accidental commented-out instrument attribute
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Add timeout to version check
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add version check (command) (#421)
  .vscode/settings.json
  Cargo.lock
  Cargo.nix
  Cargo.toml
  docs/modules/stackablectl/partials/commands/help.adoc
  docs/modules/stackablectl/partials/commands/version.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/common/list.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/utils/path.rs
  rust/stackable-cockpit/src/xfer/mod.rs
  rust/stackable-cockpit/src/xfer/processor.rs
  rust/stackablectl/Cargo.toml
  rust/stackablectl/README.md
  rust/stackablectl/build.rs
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/cache.rs
  rust/stackablectl/src/cmds/debug.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/mod.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/cmds/version.rs
  rust/stackablectl/src/lib.rs
  rust/stackablectl/src/main.rs
  rust/stackablectl/src/output/templates/result.tpl
  rust/stackablectl/src/release_check.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

feat: Use user config value to disable version check
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add user config support (#422)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/config.rs
  rust/stackablectl/src/lib.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Release stackablectl 1.2.2
  Cargo.lock
  Cargo.nix
  docs/modules/stackablectl/partials/release-notes/release-1.2.2.adoc
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Release stackablectl 1.2.2 (#423)
  Cargo.lock
  Cargo.nix
  docs/modules/stackablectl/partials/release-notes/release-1.2.2.adoc
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Fix typo in error report
  rust/stackablectl/src/output/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Fix typo in error report (#424)
  rust/stackablectl/src/output/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

allow specifying a values file that will be used for operator installations
  docs/modules/stackablectl/partials/commands/cache.adoc
  docs/modules/stackablectl/partials/commands/completions.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/experimental-debug.adoc
  docs/modules/stackablectl/partials/commands/index.adoc
  docs/modules/stackablectl/partials/commands/operator.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/stacklet.adoc
  docs/modules/stackablectl/partials/commands/version.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/mod.rs
  rust/stackable-cockpit/src/utils/yaml.rs
  rust/stackablectl/README.md
  rust/stackablectl/src/args/file.rs
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

minor refactor
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/utils/yaml.rs
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

rename FileTransfer error variant
  rust/stackable-cockpit/src/utils/yaml.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Remove common key in yaml and deep merge logic; recommend yaml anchors
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/utils/yaml.rs
  rust/stackablectl/src/args/file.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Improve helm value file error output
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Fix values file example
  rust/stackablectl/src/args/file.rs
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

explain why serialization statement won't fail
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Path conditions:
  gen-man: any of: ^rust/stackablectl/
  gen-comp: any of: ^rust/stackablectl/
  gen-openapi: any of: ^web/
  gen-ctl-readme: any of: ^rust/stackablectl/
  gen-docs: any of: ^rust/stackablectl/
  gen-cargo-nix: any of: ^Cargo\.lock|go\.mod$
