Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

gen-man:
  name: gen-man
  language: system
  entry: cargo xtask gen-man
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-comp:
  name: gen-comp
  language: system
  entry: cargo xtask gen-comp
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-openapi:
  name: gen-openapi
  language: system
  entry: cargo xtask gen-openapi
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-ctl-readme:
  name: gen-ctl-readme
  language: system
  entry: cargo xtask gen-ctl-readme
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-docs:
  name: gen-docs
  language: system
  entry: cargo xtask gen-docs
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-cargo-nix:
  name: gen-cargo-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

add progress reporting to stackablectl
  Cargo.lock
  Cargo.toml
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/engine/docker/mod.rs
  rust/stackable-cockpit/src/engine/kind/mod.rs
  rust/stackable-cockpit/src/engine/minikube/mod.rs
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/oci.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/utils/check.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/params.rs
  rust/stackable-cockpitd/src/handlers/ui.rs
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/cache.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
  rust/xtask/src/openapi.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

add release upgrade functionality
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

cleanup progress reporting and add additional information
  rust/stackable-cockpit/src/engine/docker/mod.rs
  rust/stackable-cockpit/src/engine/kind/mod.rs
  rust/stackable-cockpit/src/engine/minikube/mod.rs
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/oci.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/check.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/cache.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

cleanup
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cli/mod.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

make regenerate-nix
  Cargo.nix
Due: none

chore(deps): update dependency vite to v4.5.14 [security]
  yarn.lock
Due: none

chore(deps): update rust crate tokio to v1.43.1 [security]
  Cargo.lock
Due: gen-cargo-nix

fix(deps): update dependency solid-js to v1.9.4 [security]
  yarn.lock
Due: none

fix(deps): update module helm.sh/helm/v3 to v3.17.3 [security]
  go.mod
  go.sum
Due: gen-cargo-nix

fix(deps): update all dependencies (patch only)
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  Cargo.lock
  go.mod
  go.sum
  package.json
  web/package.json
  yarn.lock
Due: gen-openapi, gen-cargo-nix

fix(deps): update dependency openapi-fetch to ^0.14.0
  web/package.json
  yarn.lock
Due: gen-openapi

fix(deps): update module k8s.io/client-go to v0.33.1
  go.mod
  go.sum
Due: gen-cargo-nix

error handling documentation and print fixes
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

refactor subscriber init
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
Due: none

add progress indication for installing manifests
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

remove semicolon
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

WIP
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/lib.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: cargo fmt
  rust/stackable-cockpit/src/engine/kind/mod.rs
  rust/stackable-cockpit/src/oci.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/params.rs
  rust/stackable-cockpitd/src/handlers/ui.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
  rust/xtask/src/openapi.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Make progress bar template reusable through a LazyLock
  rust/stackable-cockpit/src/lib.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

chore: Make progress spinner template reusable through a LazyLock, and use span filtering toc ontrol indicatif output
  rust/stackable-cockpit/src/lib.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

refactor progress messages setup
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/lib.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

update format strings
  rust/stackable-cockpit/src/helm.rs
Due: none

error handling and include/exclude operators in/from upgrading
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

docs and autogenerated parts
  docs/modules/stackablectl/pages/commands/release.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

only upgrade installed operators and specifically included ones
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

update docs
  docs/modules/stackablectl/pages/commands/release.adoc
Due: none

add changelog entry
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

add changelog entry
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

move span into childspan on info level
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

remove progress bar color
  rust/stackable-cockpit/src/lib.rs
Due: none

feat: add progress reporting (#376)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/helm.rs
  rust/stackable-cockpit/src/lib.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/cmds/stacklet.rs
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

add progress reporting to upgrade
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Include Spark connect in stacklet list
  rust/stackable-cockpit/src/constants.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
Due: none

use to_string() instead format
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

use client with cache to fetch CRDs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/xfer/mod.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Update rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/release.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

use Debug impl for String in Error
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
Due: none

changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Path conditions:
  gen-man: any of: ^rust/stackablectl/
  gen-comp: any of: ^rust/stackablectl/
  gen-openapi: any of: ^web/
  gen-ctl-readme: any of: ^rust/stackablectl/
  gen-docs: any of: ^rust/stackablectl/
  gen-cargo-nix: any of: ^Cargo\.lock|go\.mod$
