Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

.pre-commit-config.yaml:

---
fail_fast: true

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 2c9f875913ee60ca25ce70243dc24d5b6415598c # 4.6.0
    hooks:
      - id: trailing-whitespace
        # Generated file
        exclude: ^web/src/api/schema\.d\.ts|extra/.*$
      - id: end-of-file-fixer
        exclude: Cargo.nix
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/doublify/pre-commit-rust
    rev: eeee35a89e69d5772bdee97db1a6a898467b686e # 1.0
    hooks:
      - id: clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # 1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: f295829140d25717bc79368d3f966fc1f67a824f # 0.41.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]
        exclude: '^extra/completions/'

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: gen-man
        name: gen-man
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-man
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-comp
        name: gen-comp
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-comp
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-openapi
        name: gen-openapi
        files: ^web/
        language: system
        entry: cargo xtask gen-openapi
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-ctl-readme
        name: gen-ctl-readme
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-ctl-readme
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-docs
        name: gen-docs
        files: ^rust/stackablectl/
        language: system
        entry: cargo xtask gen-docs
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: gen-cargo-nix
        name: gen-cargo-nix
        files: ^Cargo\.lock|go\.mod$
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        # Pinning to a specific rustc version, so that we get consistent formatting
        entry: cargo +nightly-2025-01-15 fmt --all -- --check
        stages: [pre-commit]
        pass_filenames: false

chore: Add release instructions
  rust/stackablectl/RELEASE.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Apply suggestions from code review
  .cargo/config.toml
Due: none

chore: Pre release maintenance (#430)
  .cargo/config.toml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  default.nix
  nix/sources.json
  shell.nix
Due: gen-cargo-nix

chore: Update release date
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore(stackablectl): Release 1.3.0 (#431)
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/RELEASE.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

feat: Add `STACK` and `DEMO` templating parameters
  README.md
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

clippy
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

Consitently list stack before demo
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackablectl/src/cmds/demo.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add `STACK` and `DEMO` templating parameters (#432)
  README.md
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore(stackablectl): Release 1.4.0
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore(stackablectl): Release 1.4.0 (#433)
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

adjustments after main merge
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
Due: none

further uninstall adjustments
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

small word fix
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

cargo update
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

add documentation
  docs/modules/stackablectl/pages/commands/demo.adoc
  docs/modules/stackablectl/pages/commands/stack.adoc
Due: none

delete namespace function
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

use Label struct for label
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

rename function
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

code readability
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

reduce nesting
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

delete object refactoring
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

small docs adjustment
  docs/modules/stackablectl/pages/commands/demo.adoc
  docs/modules/stackablectl/pages/commands/stack.adoc
Due: none

Revert "small docs adjustment"
  docs/modules/stackablectl/pages/commands/demo.adoc
  docs/modules/stackablectl/pages/commands/stack.adoc
Due: none

Update rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/demo.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

stackspec in uninstall refactoring
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackablectl/src/cmds/demo.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

confirm dialog for canceling delete, refactor install confim dialog
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

fix: set current stackablectl release to 1.4.0
  docs/modules/stackablectl/pages/installation.adoc
Due: none

function comment for helm uninstall
  rust/stackable-cockpit/src/platform/manifests.rs
Due: none

rename variable
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

refactor namespace confirmation
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

add stack parameter on demo uninstall
  rust/stackable-cockpit/src/platform/demo/spec.rs
Due: none

Update rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

import deref
  rust/stackable-cockpit/src/utils/k8s/client.rs
Due: none

docs: Add missing release notes for stackablectl
  docs/modules/stackablectl/pages/release-notes.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.3.0.adoc
  docs/modules/stackablectl/partials/release-notes/release-1.4.0.adoc
Due: none

fix: Bump aws-lc-rs/aws-lc-sys to 1.16.2/0.39.1
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

fix: Bump rustls-webpki to 0.103.10 to negate RUSTSEC-2026-0049
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

fix: Bump aws-lc-rs/sys and rustls-webpki to negate 3 advisories (#436)
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

chore: Update release instructions
  rust/stackablectl/RELEASE.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs
