Repository stackabletech/stackable-cockpit: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

gen-man:
  name: gen-man
  language: system
  entry: cargo xtask gen-man
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-comp:
  name: gen-comp
  language: system
  entry: cargo xtask gen-comp
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-openapi:
  name: gen-openapi
  language: system
  entry: cargo xtask gen-openapi
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-ctl-readme:
  name: gen-ctl-readme
  language: system
  entry: cargo xtask gen-ctl-readme
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-docs:
  name: gen-docs
  language: system
  entry: cargo xtask gen-docs
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

gen-cargo-nix:
  name: gen-cargo-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

fix pre-commit
  docs/modules/stackablectl/partials/commands/cache.adoc
  docs/modules/stackablectl/partials/commands/completions.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/experimental-debug.adoc
  docs/modules/stackablectl/partials/commands/index.adoc
  docs/modules/stackablectl/partials/commands/operator.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/stacklet.adoc
  docs/modules/stackablectl/partials/commands/version.adoc
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/README.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Rust dependency and Rust bumps
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  gomod2nix.toml
  nix/sources.json
  rust-toolchain.toml
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/cluster/mod.rs
  rust/stackable-cockpit/src/platform/cluster/resource_request.rs
  rust/stackable-cockpit/src/platform/credentials.rs
  rust/stackable-cockpit/src/platform/namespace.rs
  rust/stackable-cockpit/src/platform/service.rs
  rust/stackable-cockpit/src/platform/stacklet/grafana.rs
  rust/stackable-cockpit/src/platform/stacklet/minio.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/platform/stacklet/opensearch.rs
  rust/stackable-cockpit/src/platform/stacklet/prometheus.rs
  rust/stackable-cockpit/src/utils/k8s/byte_string.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/k8s/conditions.rs
  rust/stackable-cockpit/src/utils/k8s/labels.rs
  rust/stackable-cockpit/src/utils/templating.rs
  rust/stackable-cockpitd/Cargo.toml
  rust/stackablectl/src/cmds/debug.rs
  web/build.rs
Due: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

Bump other crates
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackable-cockpitd/src/handlers/demos.rs
Due: gen-cargo-nix

Update deny.toml
  crate-hashes.json
  deny.toml
Due: none

Bump cargo-deny
  .github/workflows/pr_general.yml
Due: none

Regenerate stuff
  extra/completions/stackablectl.nu
  web/src/api/schema.d.ts
Due: gen-openapi

Fix rust docs
  rust/stackable-cockpit/src/platform/credentials.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/templating.rs
Due: none

Install rustls ring provider
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/main.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

feat: Support coffee operator
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Improve error handling and move to coffee mod
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Avoid clone
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Improve error message
  rust/stackable-cockpit/src/platform/operator/mod.rs
Due: none

feat: publish SBOMs
  .github/workflows/release_stackablectl.yml
Due: none

feat: publish SBOMs (#428)
  .github/workflows/release_stackablectl.yml
Due: none

feat: Allow specifying Helm values for operator installations (#425)
  docs/modules/stackablectl/partials/commands/cache.adoc
  docs/modules/stackablectl/partials/commands/completions.adoc
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/experimental-debug.adoc
  docs/modules/stackablectl/partials/commands/index.adoc
  docs/modules/stackablectl/partials/commands/operator.adoc
  docs/modules/stackablectl/partials/commands/release.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
  docs/modules/stackablectl/partials/commands/stacklet.adoc
  docs/modules/stackablectl/partials/commands/version.adoc
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
  extra/man/stackablectl.1
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/operator/listener_operator.rs
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackable-cockpit/src/platform/release/spec.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/mod.rs
  rust/stackable-cockpit/src/utils/yaml.rs
  rust/stackablectl/README.md
  rust/stackablectl/src/args/file.rs
  rust/stackablectl/src/args/operator_configs.rs
  rust/stackablectl/src/cli/mod.rs
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/operator.rs
  rust/stackablectl/src/cmds/release.rs
  rust/stackablectl/src/cmds/stack.rs
  rust/stackablectl/src/utils.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Bump to op-rs 0.107.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: gen-cargo-nix

Go bumps
  go.mod
  go.sum
  gomod2nix.toml
Due: gen-cargo-nix

Add comment on helm 4
  go.mod
Due: gen-cargo-nix

linter
  crate-hashes.json
Due: none

Bump Go in CI
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  docker/Dockerfile
Due: none

changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Move comments, gg Go
  go.mod
Due: gen-cargo-nix

Update rust/stackablectl/CHANGELOG.md
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

chore: Rust and Go bumps (#426)
  .github/workflows/pr_cockpit.yml
  .github/workflows/pr_general.yml
  .github/workflows/pr_stackablectl.yml
  .github/workflows/release_stackablectl.yml
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deny.toml
  docker/Dockerfile
  extra/completions/stackablectl.nu
  go.mod
  go.sum
  gomod2nix.toml
  nix/sources.json
  rust-toolchain.toml
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/cluster/mod.rs
  rust/stackable-cockpit/src/platform/cluster/resource_request.rs
  rust/stackable-cockpit/src/platform/credentials.rs
  rust/stackable-cockpit/src/platform/namespace.rs
  rust/stackable-cockpit/src/platform/service.rs
  rust/stackable-cockpit/src/platform/stacklet/grafana.rs
  rust/stackable-cockpit/src/platform/stacklet/minio.rs
  rust/stackable-cockpit/src/platform/stacklet/mod.rs
  rust/stackable-cockpit/src/platform/stacklet/opensearch.rs
  rust/stackable-cockpit/src/platform/stacklet/prometheus.rs
  rust/stackable-cockpit/src/utils/k8s/byte_string.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackable-cockpit/src/utils/k8s/conditions.rs
  rust/stackable-cockpit/src/utils/k8s/labels.rs
  rust/stackable-cockpit/src/utils/templating.rs
  rust/stackable-cockpitd/Cargo.toml
  rust/stackable-cockpitd/src/handlers/demos.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cmds/debug.rs
  rust/stackablectl/src/main.rs
  web/build.rs
  web/src/api/schema.d.ts
Due: gen-man, gen-comp, gen-openapi, gen-ctl-readme, gen-docs, gen-cargo-nix

feat: Support coffee operator ☕ (#427)
  rust/stackable-cockpit/src/platform/operator/mod.rs
  rust/stackablectl/src/cmds/operator.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

feat: Add uninstall demo/stack feature
  Cargo.lock
  Cargo.toml
  rust/stackable-cockpit/Cargo.toml
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/manifests.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/Cargo.toml
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

changelog, some fixes after merge, cargo clippy
  Cargo.lock
  rust/stackable-cockpit/src/platform/demo/params.rs
  rust/stackable-cockpit/src/platform/demo/spec.rs
  rust/stackable-cockpit/src/platform/stack/params.rs
  rust/stackable-cockpit/src/platform/stack/spec.rs
  rust/stackable-cockpit/src/utils/k8s/client.rs
  rust/stackablectl/CHANGELOG.md
  rust/stackablectl/src/cmds/demo.rs
  rust/stackablectl/src/cmds/stack.rs
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

pre-commit fixes
  extra/completions/_stackablectl
  extra/completions/stackablectl.bash
  extra/completions/stackablectl.elv
  extra/completions/stackablectl.fish
  extra/completions/stackablectl.nu
Due: none

pre-commit fix
  docs/modules/stackablectl/partials/commands/demo.adoc
  docs/modules/stackablectl/partials/commands/stack.adoc
Due: none

regenerate-nix
  Cargo.nix
Due: none

chore(nix): niv update
  nix/sources.json
Due: none

chore(cargo): Add shortcut for stackablectl
  .cargo/config.toml
Due: none

chore: Downgrade itertools
  Cargo.lock
  Cargo.nix
Due: gen-cargo-nix

chore: Bump stackable-operator
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: gen-cargo-nix

chore(nix): add crate2nix to the shell so we use the same version
  Cargo.lock
  Cargo.nix
  shell.nix
Due: gen-cargo-nix

chore(nix): remove crate-hashes and regenerate
  Cargo.nix
  crate-hashes.json
Due: none

chore(nix): Hard-code go version to 1.26
  default.nix
Due: none

chore(nix): Formatting
  default.nix
Due: none

chore: Bump stackablectl to 1.3.0
  Cargo.lock
  Cargo.nix
  extra/man/stackablectl.1
  rust/stackablectl/Cargo.toml
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs, gen-cargo-nix

chore: Update changelog
  rust/stackablectl/CHANGELOG.md
Due: gen-man, gen-comp, gen-ctl-readme, gen-docs

Path conditions:
  gen-man: any of: ^rust/stackablectl/
  gen-comp: any of: ^rust/stackablectl/
  gen-openapi: any of: ^web/
  gen-ctl-readme: any of: ^rust/stackablectl/
  gen-docs: any of: ^rust/stackablectl/
  gen-cargo-nix: any of: ^Cargo\.lock|go\.mod$
